@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4"> YOU MAKE YOUR OWN FUTURE !</h5>
    <h6>"Ontdek de magie van jouw merkideeën bij IdeeAtelier.<h6> 
    <h6> Stuur ons jouw visie en laat ons je begeleiden bij het vormgeven ervan. <h6>
    <h6> Samen creëren we de toekomst van jouw merk."</h6>
    <h6> Wij vinden de juiste leveranciers voor u. "</h6>

</div>
