@model GroupSpace23.Models.AbonnementModel

@{
    ViewData["Title"] = "Nieuw abonnement toevoegen";
}

<h1>Nieuw abonnement toevoegen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Abonnement" class="control-label"></label>
                <select asp-for="Abonnement" class="form-control">
                    <option value="">Kies een abonnement</option>
                    <option value="Standaard Abonnement">Standaard Abonnement</option>
                    <option value="Premium Abonnement">Premium Abonnement</option>
                    <option value="Deluxe Abonnement">Deluxe Abonnement</option>
                </select>
                <span asp-validation-for="Abonnement" class="text-danger"></span>
            </div>
            <!-- Andere velden voor prijs, details, etc. -->
            <div class="form-group">
                <input type="submit" value="Bestellen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar overzicht</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
